<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- データソースの作成 -->
    <context:property-placeholder location="classpath:database.properties"/>
    
    <!-- database.properties中のパラメータを読み取る-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${oracle.driver}"></property>
        <property name="jdbcUrl" value="${oracle.url}"></property>
        <property name="user" value="${oracle.username}"></property>
        <property name="password" value="${oracle.password}"></property>
        <!-- 接続数の初期化 -->
        <property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
        <property name="minPoolSize" value="${jdbc.minPoolSize}"/>
        <property name="maxIdleTime" value="${jdbc.maxIdleTime}"/>
    </bean>

    <!-- Springトランザクション管理 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- アノテーションのスキャン -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- データソース -->
        <property name="dataSource" ref="dataSource"/>
        <!-- Mapperマッピングファイルの位置を指定する -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/> 
        <!-- Mybatis設定ファイルの位置を指定する -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <!-- Mapperインターフェースのスキャン -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.seiryo.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
    
    <context:component-scan base-package="com.seiryo.service"/>
</beans>